NODE_ENV=development
API_KEY='YOUR_API_KEY'
PORT=3002
WEBHOOK_SECRET='webhook_secret'
IDP_WEBHOOK_PATH=/api/webhooks/socure/event
DEFAULT_IDP_DOCV_CALLBACK_URL='http://localhost:3000/verify/socure/document_capture_update'